n8n/workflow-exames-flowos.json
{
  "name": "FlowOS – Alertas de Exames Vencendo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Todo dia às 08h"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.FLOWOS_URL }}/rh/exames/vencendo?dias=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.FLOWOS_SERVICE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [240, 0],
      "id": "buscar-exames",
      "name": "Buscar Exames Vencendo (FlowOS)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-has-items",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 0],
      "id": "tem-funcionarios",
      "name": "Tem funcionários para notificar?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [720, -80],
      "id": "split-funcionarios",
      "name": "Dividir por funcionário"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.FLOWOS_URL }}/mensagens/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.FLOWOS_SERVICE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ numero: $json.telefone, mensagem: '👋 Olá ' + $json.nome + ', seu exame ocupacional vence em *' + $json.data_exame_vencimento + '*. Por favor, agende com o RH o quanto antes. ✅' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [960, -80],
      "id": "enviar-whatsapp-funcionario",
      "name": "Enviar WhatsApp ao Funcionário (FlowOS)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.FLOWOS_URL }}/rh/exames/{{ $('Dividir por funcionário').item.json.id }}/notificado",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.FLOWOS_SERVICE_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, -80],
      "id": "marcar-notificado",
      "name": "Marcar como Notificado (FlowOS)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "funcionarios",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1440, -80],
      "id": "agregar",
      "name": "Agregar todos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.FLOWOS_URL }}/mensagens/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.FLOWOS_SERVICE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ numero: $vars.RH_NUMERO_WHATSAPP, mensagem: '📋 *Resumo – Exames Vencendo (30 dias)*\\n\\n' + $json.funcionarios.map((f, i) => (i+1) + '. ' + f.nome + ' – Vence: ' + f.data_exame_vencimento).join('\\n') + '\\n\\n*Total: ' + $json.funcionarios.length + ' colaboradores*' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1680, -80],
      "id": "resumo-rh",
      "name": "Enviar Resumo ao RH (FlowOS)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 80],
      "id": "sem-exames",
      "name": "Nenhum exame vencendo"
    }
  ],
  "connections": {
    "Todo dia às 08h": {
      "main": [[{ "node": "Buscar Exames Vencendo (FlowOS)", "type": "main", "index": 0 }]]
    },
    "Buscar Exames Vencendo (FlowOS)": {
      "main": [[{ "node": "Tem funcionários para notificar?", "type": "main", "index": 0 }]]
    },
    "Tem funcionários para notificar?": {
      "main": [
        [{ "node": "Dividir por funcionário", "type": "main", "index": 0 }],
        [{ "node": "Nenhum exame vencendo",   "type": "main", "index": 0 }]
      ]
    },
    "Dividir por funcionário": {
      "main": [[{ "node": "Enviar WhatsApp ao Funcionário (FlowOS)", "type": "main", "index": 0 }]]
    },
    "Enviar WhatsApp ao Funcionário (FlowOS)": {
      "main": [[{ "node": "Marcar como Notificado (FlowOS)", "type": "main", "index": 0 }]]
    },
    "Marcar como Notificado (FlowOS)": {
      "main": [[{ "node": "Agregar todos", "type": "main", "index": 0 }]]
    },
    "Agregar todos": {
      "main": [[{ "node": "Enviar Resumo ao RH (FlowOS)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "meta": {
    "description": "Integração FlowOS: lê funcionários com exames vencendo no Supabase, envia WhatsApp via Evolution API configurada no FlowOS, marca como notificado e envia resumo ao RH. Variáveis necessárias: FLOWOS_URL, FLOWOS_SERVICE_TOKEN, RH_NUMERO_WHATSAPP."
  },
  "tags": [{ "name": "FlowOS" }, { "name": "RH" }, { "name": "Exames" }]
}
